@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    color: #373347;
}

body {
    background-color: #3F3B4F;
    margin: 30px 0 30px 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

#form {
    background-color: #F4F4F4;
}

.tab-content {
    background-color: #F4F4F4;
}

#linegraph-container {
    background-color: #F4F4F4;
}

#piechart-container {
    background-color: #F4F4F4;
}