<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stocks</title>
    </head>
    <body>
        <h1>Stocks</h1>
        <table>
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Available Price</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock[0] }} </td>
                    <td>{{ stock[1] }} </td>
                    <td>{{ stock[2] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>